# Supabase Configuration
VITE_SUPABASE_URL=https://ascskenpfcnyejaamjlb.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzY3NrZW5wZmNueWVqYWFtamxiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4ODQxNzQsImV4cCI6MjEwMjQ2MDE3NH0.fWK-nu3qEyBXH-r8n2GScQ21Lu2n93C6NUipar6ldP4
